.label {
  color: var(--label-color);
  position: absolute;
  top: 0px;
  left: 0;
  pointer-events: none;
  transform-origin: left center;
  transition: font-size 250ms, transform 250ms; 
}

.input {
  color: var(--input-color);
  border: none;
  outline: none;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  transition: 250ms border-color ease;
  border-bottom: 1px solid;
  width: 100%;
  padding-bottom: 5px;

  &.valid  {
    border-color: var(--input-border);
  }
  &.invalid  {
    border-color: var(--input-border-invalid);
  }

    
  &:not(:placeholder-shown) ~ label,
  &:focus ~ label {
    transform: translateY(-200%);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }

  & ~ .inputBorder {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    transition: 0.4s;
  }

  &:focus ~ .inputBorder,  &:hover ~ .inputBorder{
    width: 100%;
    left: 0;
    border-bottom: 1px solid;
  }

  &.valid:hover ~ .inputBorder  {
    border-color: var(--input-border-hover);
  }
  &.invalid:hover ~ .inputBorder  {
    border-color: var(--input-border-hover-invalid);
  }
  
  &.valid:focus ~ .inputBorder  {
    border-color: var(--input-border-focus);
  }
  &.invalid:focus ~ .inputBorder  {
    border-color: var(--input-border-hover-invalid);
  }
}

.root {
  position: relative;
  display: inline-block;
}
