:root {
  --label-color: #9a9a9a;
  --input-color: #535353;
  --input-border: #3592ff;
  --input-border-focus: #3f95cf;
  --input-border-hover: #578db1;
  
  --input-border-invalid: #FF0000;
  --input-border-focus-invalid: #af0303;
  --input-border-hover-invalid: #dd0202;


  --button-background-disabled: #9F9F9F;
  --button-background-enabled: #6CB0FF;
  --button-background-enabled-hover: #4597f4;
  --button-background-enabled-active: #1a7cec;
}
